  header {
    background: var(--cor-preto);
  }

.main-teste {
  background-image: url(../static/img/cadastro-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-login{
  width:100%;
  margin:0;
}

/* Ativar hover */
@media screen and (min-width: 991px) {
  .btn-login:hover {
    width:100%;
    background-color: var(--bg-dark) !important;
    border-color: var(--cor-azul) !important;
    color: var(--cor-azul) !important;
  }
}
