/* ESTILIZAÇÃO DOS TEXTOS */

/* HEADER */
header {
  background: var(--cor-preto);
}

.nav-links li:nth-child(4) a {
  color: var(--cor-azul);
}

/* CONTEUDO GERAL */
.bg-azul {
  background: var(--gradient-azul);
}

/* BANNER */
.imagem-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.foto-jogo-gabriel {
  background-image: linear-gradient(
  to right, #1e1e1e, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0.5),  rgba(30, 30, 30, 0.3)),
  url("../static/img/contato/foto-jogo-gabriel.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 300px;
}

.foto-jogo-luis {
  background-image: linear-gradient(
  to right, #1e1e1e, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0.5),  rgba(30, 30, 30, 0.3)),
  url("../static/img/contato/foto-jogo-luis.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 300px;
}

.foto-jogo-michel {
  background-image: linear-gradient(
  to right, #1e1e1e, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0.5),  rgba(30, 30, 30, 0.3)),
  url("../static/img/contato/foto-jogo-michel.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 300px;
}

.foto-jogo-rodrigo {
  background-image: linear-gradient(
  to right, #1e1e1e, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0.5),  rgba(30, 30, 30, 0.3)),
  url("../static/img/contato/foto-jogo-rodrigo.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 300px;
}

.container-imagem {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(58, 68, 211, 0.5)
    ),
    url("../static/img/contato/background-contato.jpg");
  width: 100%;
  min-height: 300px;
}

.imagem-bg-contato {
  background-image: linear-gradient(
  to top,
  rgba(30, 30, 30, 0.6), rgba(30, 30, 30, 0.4)), url("../static/img/contato/contato-form-background.jpg");
  background-size: cover;
  background-position: center;
}

.container-imagem > div {
  width: 100%;
}

/* QUEM SOMOS */
.quem-somos {
  width: 100%;
  background-color: var(--cor-bg);
}

.img-custom {
  filter: brightness(0.8);
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  transition: 0.5s ease;
}

/* FRASE ESPECIAL */
.frase {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(30, 30, 30, 0.2),  transparent),
    url("../static/img/contato/tecnologia.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 90vh;
}

.frase {
  display: flex;
  width: 100%;
  height: auto;
  background-color: var(--cor-cinzaEscuro);
}

.particles-section {
  position: relative;
  min-height: 90vh;
  overflow: hidden;
}

.particles-section canvas#particles-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.particles-section .container {
  position: relative;
  z-index: 2; /* Na frente das partículas */
}

/* FORMULÁRIO DE CONTATO */
.form fieldset,
.form textarea,
.contate-nos {
  width: 100%;
}

.form {
  background-color: var(--cor-cinzaEscuro);
  padding: 60px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.container-input label {
  position: absolute;
  top: 0;
  left: 15px;
  transform: translateY(-50%);
  background: var(--cor-bg); /* cor do input (bg escuro) */
  padding-inline: 5px;
}

.container-input input:focus + label,
.container-input input:not(:placeholder-shown) + label,
.container-input textarea:focus + label,
.container-input textarea:not(:placeholder-shown) + label {
  top: 0;
}

/* RESPONSIVIDADE */
@media (max-width: 991px) {
  .foto {
    display: none;
  }

  .foto-jogo-gabriel {
    background-image: linear-gradient(
    to top, #1e1e1e, rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.6)),
    url("../static/img/contato/foto-jogo-gabriel.png");
  }
  
  .foto-jogo-luis {
    background-image: linear-gradient(
    to top, #1e1e1e, rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.6)),
    url("../static/img/contato/foto-jogo-luis.png");
  }
  
  .foto-jogo-michel {
    background-image: linear-gradient(
    to top, #1e1e1e, rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.6)),
    url("../static/img/contato/foto-jogo-michel.png");
  }
  
  .foto-jogo-rodrigo {
    background-image: linear-gradient(
    to top, #1e1e1e, rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.6)),
    url("../static/img/contato/foto-jogo-rodrigo.png");
  }
}

/* Ativar Hover */
@media (min-width: 991px) {
  /* Figura */
  figure img:hover {
    filter: brightness(1);
  }

  #btn-enviar{
    border: 2px solid var(--cor-branco);
  }

  /* Botão de login */
  #btn-enviar:hover {
    border: 2px solid var(--cor-branco);
    background-color: transparent;
    color: var(--cor-branco);
  }

  .img-custom:hover {
    filter: brightness(1);
  }
}
