/* ESTILIZAÇÃO DOS TEXTOS */

/* HEADER */
header {
  background: var(--cor-preto);
}

.nav-links li:nth-child(4) a {
  color: var(--cor-azul);
}

/* CONTEUDO GERAL */
.bg-azul {
  background: var(--gradient-azul);
}

/* BANNER */
.imagem-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-imagem {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(58, 68, 211, 0.5)
    ),
    url("../static/img/background-contato.jpg");
  width: 100%;
  min-height: 300px;
}

.container-imagem > div {
  width: 100%;
}

/* QUEM SOMOS */
.quem-somos {
  width: 100%;
  background-color: var(--cor-bg);
}

/* figura */
figure {
  width: 100%;
}

figure img {
  width: 100%;
  height: 700px;
  filter: brightness(0.7);
  transition: 0.3s ease-in-out;
}

/* FRASE ESPECIAL */
.frase {
  display: flex;
  width: 100%;
  height: auto;
  background-color: var(--cor-cinzaEscuro);
}

/* BANNER */
.container-card {
  min-height: 57dvh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 1%;
}

.cards {
  position: relative;
  width: 6%;
  min-height: 300px;
  height: fit-content;
  border-radius: 2rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  transition: 1s cubic-bezier(0.28, -0.03, 0, 0.99); 
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.cards::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(19, 19, 19, 0.927), transparent);
  pointer-events: none;
}

.cards .conteudo-card {
  color: white;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.cards .conteudo-card .icon {
  background: var(--cor-branco);
  color: var(--cor-bg);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin: 11px;
  border: 2px solid transparent;
  box-sizing: border-box;
  z-index: 1;
  transition: 0.2s ease;
}

.cards .conteudo-card .descricao {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  width: 100%;
  height: 100%;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
  z-index: 1;
}

input {
  display: none;
}

input:checked + label {
  width: 79%;
  height: 100%;
}

input:checked + label .icon {
  display: none !important;
}

input:checked + label .descricao {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* FORMULÁRIO DE CONTATO */
.form fieldset,
.form textarea,
.contate-nos {
  width: 100%;
}

.form {
  background-color: var(--cor-cinzaEscuro);
  padding: 60px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.container-input label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background: #222; /* cor do input (bg escuro) */
  padding-inline: 5px;
}

.container-input input:focus + label,
.container-input input:not(:placeholder-shown) + label,
.container-input textarea:focus + label,
.container-input textarea:not(:placeholder-shown) + label {
  top: 0;
}

/* RESPONSIVIDADE */
@media (max-width: 1399px) {
  .cards {
    width: 7%;
  }
}

@media (max-width: 1199px) {
  .cards {
    width: 8%;
  }

  .cards .conteudo-card .icon {
    margin-left: 8px !important; /* Mantem o icon centralizado */
  }
}

@media (max-width: 991px) {
  .container-card {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .dados {
    display: grid;
  }

  input:checked + label {
    width: 100%;
    height: auto;
  }

  .cards .conteudo-card .icon {
    margin: 10px;
  }

  .cards .conteudo-card .descricao {
    width: 100%;
    display: none;
    padding: 0 10px 10px 10px;
  }

  input:checked + label .descricao {
    display: flex !important;
    transform: translateY(0) !important;
  }

  .cards {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80px;
    justify-content: center;
    margin-top: 20px;
  }

  .foto {
    display: none;
  }

  figure img {
    height: 300px;
    filter: brightness(0.7);
    transition: 0.3s ease-in-out;
  }

  .frase {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
  }

  .frase h1 {
    font-size: 2rem;
    text-align: center;
  }

  .frase p {
    font-size: 1.2rem;
    text-align: center;
  }
}

/* Ativar Hover */
@media (min-width: 991px) {
  /* Figura */
  figure img:hover {
    filter: brightness(1);
  }

  /* Cards */
  input:checked + label:hover {
    transform: scale(1);
  }

  .cards:hover {
    transform: scale(1.02);
    .icon {
      background-color: var(--cor-bg);
      color: var(--cor-branco);
      border-color: var(--cor-branco);
    }
  }
}
