/* HEADER */
.nav-links li:nth-child(2) a {
  color: var(--cor-azul);
}

/* BANNER */
.banner {
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-card {
  height: 65vh;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.cards {
  position: relative;
  width: 80px;
  border-radius: 2rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.cards::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  pointer-events: none;
}

.cards .conteudo-card {
  color: white;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.cards .conteudo-card .icon {
  background: var(--cor-branco);
  color: var(--cor-bg);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border: 2px solid transparent;
  box-sizing: border-box;
  z-index: 1;
  transition: 0.2s ease;
}

.cards:hover {
  transform: scale(1.02);
  .icon {
    background-color: var(--cor-bg);
    color: var(--cor-branco);
    border-color: var(--cor-branco);
  }
}

.cards .conteudo-card .descricao {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  width: 35vw;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
  z-index: 1;
}

.descricao h4 {
  font-size: 2.5rem;
  text-transform: uppercase;

  color: #ffffff;
}

.descricao p {
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 15px;
  font-size: 1.4rem;
  text-align: justify;
}

input {
  display: none;
}

input:checked + label {
  width: 60vw;
}

input:checked + label .descricao {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

input:checked + label:hover {
  transform: scale(1);
}

.cards[for="c1"] {
  background-image: url("../static/img/img1.jpg");
  background-size: cover;
  background-position: center;
}
.cards[for="c2"] {
  background-image: url("../static/img/img2.jpg");
  background-position: center;
}
.cards[for="c3"] {
  background-image: url("../static/img/img3.jpg");
  background-position: center;
}
.cards[for="c4"] {
  background-image: url("../static/img/img4.jpg");
  background-position: center;
}

/* CONTAINER FILTROS */
.conteudo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.titulo-filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  padding: 10px 10px;
}

.titulo-filtros h2 {
  color: var(--cor-branco);
  font-size: var(--font-size-titulo-h2);
}

.fechar,
.abrir {
  display: none;
}

.filtros ul {
  display: flex;
}

.filtros li {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  align-items: center;
  margin-left: 15px;
  color: var(--cor-branco);
  cursor: pointer;
}

.filtros .select {
  display: flex;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: var(--cor-bg);
  background-color: var(--cor-branco);
  padding: 5px 26px 5px 13px;
  border: 2px solid var(--cor-branco);
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.filtros .select:hover {
  background-color: var(--cor-bg);
  color: var(--cor-branco);
}

.select:hover::backdrop {
  background-color: var(--cor-bg);
  color: var(--cor-branco);
}

.filtros .select option {
  background-color: var(--cor-bg);
  color: var(--cor-branco);
  padding: 3px 5px;
}

.filtros-dropdown {
  display: none;
  cursor: pointer;
}

/* CONTEUDO BLOCOS */
.blocos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
}

.card-conteudo {
  background-color: var(--cor-bg);
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--cor-branco);
  width: 23%; /* 23% pra fazer 4 cards por linha */
  height: auto;
  margin-bottom: 60px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card-conteudo:hover {
  transform: translateY(-10px);
}

.card-conteudo img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  filter: opacity(0.8);
  transition: 0.2s ease-in-out;
}

.card-conteudo img:hover {
  filter: opacity(1);
}

.info-jogo {
  display: flex;
  padding: 5px 10px 15px 10px;
  flex-direction: column;
  text-align: start;
}

.info-jogo .nome-jogo {
  font-size: var(--font-size-paragrafo-pc);
  color: var(--cor-branco);
  margin-top: 5px;
  margin-bottom: 5px;
}

.nome-campeonato {
  color: var(--cor-branco);
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Ver mais */
.ver-mais {
  display: flex;
  color: var(--cor-azul) !important;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
  margin-bottom: 60px;
}

.ver-mais:hover {
  color: var(--cor-azul2) !important;
}



/* LISTA DE FUNÇÕES */
.lista-funcoes {
  display: flex;
  background-image: linear-gradient(
      to right,
      var(--cor-azul-bg),
      rgba(0, 0, 0, 0.9)
    ),
    url("../static/img/haven1.jpg");
  background-size: cover;
  background-position: bottom;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.funcoes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 10% 60px 10%;
}

.texto-funcao {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.texto-funcao h2 {
  text-wrap: nowrap;
  color: var(--cor-branco);
  font-size: var(--font-size-titulo-h2);
  margin-bottom: 10px;
}

.texto-funcao ul {
  list-style: none;
  padding-left: 0;
}

.texto-funcao li {
  position: relative;
  padding-left: 35px;
}

.texto-funcao li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url("../static/icons/icon-check-48px.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.texto-funcao li {
  color: var(--cor-branco);
  text-align: left;
  font-size: var(--font-size-paragrafo-pc);
  margin-top: 35px;
}

.imagem-funcao {
  justify-content: center;
  align-items: center;
  width: 65%;
  border-radius: 20px;
  align-self: flex-end;
}

.imagem-funcao img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.tracinho {
  height: 0.3rem;
  width: 120px;
  background-color: var(--cor-azul);
}



/* RESPONSIVIDADE */
@media (max-width: 1300px) {
  /* Responsividade dos textos */
  .texto-funcao li {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 1200px) {
  /* Responsividade dos cards de jogos */
  .card-conteudo {
    width: 23%;
  }

  .descricao h4,
  .descricao p {
    text-align: start;
  }
}

@media (max-width: 1024px) {
  /* Responsividade dos filtros */
  .titulo-filtros {
    flex-wrap: wrap;
    justify-content: center;
  }

  .filtros {
    padding-top: 10px;
  }

  /* Responsividade dos cards de jogos */
  .card-conteudo {
    margin-bottom: 40px;
  }

  .card-conteudo {
    width: 48%;
  }

  .cards .row .icon {
    margin: 3%;
  }

  /* Responsividade da seção de funcoes */
  .funcoes {
    padding: 60px 10% 100px 10%;
  }

  .texto-funcao {
    width: 100%;
  }

  .imagem-funcao {
    display: none;
  }
}

@media (max-width: 900px) {
  /* Responsividade do banner */
  .container-card {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .cards {
    width: 80%;
    height: 80px;
    margin-bottom: 15px;
  }

  input:checked + label {
    width: 80%;
    height: 100%;
  }

  .cards .conteudo-card .icon {
    margin: 10px;
    display: none;
  }

  .cards .conteudo-card .descricao {
    width: 100%;
    display: none;
    padding: 0 10px 10px 10px;
  }

  input:checked + label .descricao {
    display: flex !important;
    transform: translateY(0) !important;
  }

  .cards {
    background-size: cover;
    background-position: center;
  }

  .cards[for="c1"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/img1.jpg");
  }

  .cards[for="c2"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/img2.jpg");
  }

  .cards[for="c3"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/img3.jpg");
  }

  .cards[for="c4"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/img4.jpg");
  }

  /* Responsividade da seção titulo e filtros */
  .titulo-filtros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .titulo-filtros h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .titulo-filtros label {
    padding: 10px 0;
    max-width: 100%;
  }

  .titulo-filtros .abrir {
    opacity: 1;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
  }

  .titulo-filtros img {
    width: 40px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-in-out;
  }

  /* Esconde o input checkbox */
  .abrir-filtro {
    display: none;
  }

  .fechar {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  /* Garante que a div.filtros apareça por padrão */
  .filtros {
    background: white;
    border: 1px solid #ccc;
    height: 0;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-width: 100%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px);
  }

  .filtros ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .filtros li {
    margin: 5px 0;
  }

  /* Exibe os filtros quando o checkbox for marcado */
  .abrir-filtro:checked ~ .filtros,
  .abrir-filtro:checked + label + .filtros {
    width: 100%;
    background-color: var(--cor-bg);
    border: none;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--cor-branco);
    opacity: 1;
    transform: translateY(0);
  }

  .abrir-filtro:checked + .abrir {
    opacity: 0;
    position: fixed;
    left: 0;
  }

  .abrir-filtro:checked ~ .fechar {
    display: block !important;
    color: var(--cor-branco);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
  }

  .select {
    width: 250px;
  }
}

@media (max-width: 600px) {
  /* Responsividade dos cards de jogos */
  .card-conteudo {
    width: 100%;
  }

  /* Responsividade da seção de funçôes */
  .texto-funcao h2 {
    text-wrap: wrap;
  }
}

@media (max-width: 425px) {
  /* Responsividade da seção de titulo e filtros */
  .titulo-filtros {
    flex-direction: column;
  }
  .descricao h4,
  .descricao p {
    text-align: center;
  }

  .descricao h4 {
    font-size: 1.5rem;
  }
  .descricao p {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .card-conteudo {
    margin-bottom: 30px;
  }
}