/* HEADER */
.nav-links li:nth-child(2) a {
  color: var(--cor-azul);
}

/* BANNER */
.container-card {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 1%;
}

.cor-redondo {
  color: var(--cor-vermelho) !important;
}

.cards {
  position: relative;
  width: 6%;
  border-radius: 2rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.cards::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  pointer-events: none;
}

.cards .conteudo-card {
  color: white;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.cards .conteudo-card .icon {
  background: var(--cor-branco);
  color: var(--cor-bg);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  flex-shrink: 0;
  border: 2px solid transparent;
  box-sizing: border-box;
  z-index: 1;
  transition: 0.2s ease;
}

.cards .conteudo-card .descricao {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  width: 50%;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
  z-index: 1;
}

.card-width {
  width: 79%;

}

.card-width .icon{
  display: none !important;
}

.card-width .descricao{
  opacity: 1 !important;
  transform: translateY(0) !important;
  padding: 10px;
}

.cards[for="c1"] {
  background-image: url("../static/img/index/card1.jpg");
  background-size: cover;
  background-position: center;
}
.cards[for="c2"] {
  background-image: url("../static/img/index/card2.jpg");

  background-position: center;
}
.cards[for="c3"] {
  background-image: url("../static/img/index/card3.jpg");
  background-position: center;
}
.cards[for="c4"] {
  background-image: url("../static/img/index/card4.jpg");
  background-position: center;
}

/* CONTAINER FILTROS */
.list-style-none {
  list-style: none;
}

.cursor-pointer {
  list-style: none;
  cursor: pointer;
}

/* CARDS DOS JOGOS */
.card {
  padding: 0;
  border: none !important;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  filter: opacity(0.8);
  transition: 0.2s ease-in-out;
}

/* Ver mais */
.ver-mais, .ver-menos {
  color: var(--cor-azul) !important;
  transition: 0.2s ease-in-out;
}

.ver-mais:hover, .ver-menos:hover {
  color: var(--cor-azul-bg) !important;
}

/* LISTA DE FUNÇÕES */
.lista-funcoes-bg {
  display: flex;
  background-image: linear-gradient(to right,var(--cor-azul-bg),rgba(0, 0, 0, 0.9)),
    url("../static/img/index/haven1.jpg");
  background-size: cover;
  background-position: bottom;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.texto-funcao ul {
  list-style: none;
  padding-left: 0;
}

.texto-funcao li {
  position: relative;
  padding-left: 35px;
}

.texto-funcao li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url("../static/icons/icon-check-48px.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.tracinho {
  height: 0.3rem;
  width: 120px;
  background-color: var(--cor-azul);
}

/* RESPONSIVIDADE */
@media (max-width: 1399px) {
  .cards {
    width: 7%;
  }
}

@media (max-width: 1199px) {
  .cards {
    width: 8%;
  }

  .cards .conteudo-card .icon {
    margin: 15px 10px;
  }
}

@media (max-width: 991px) {
  .cards {
    width: 10%;
  }

  .cards .conteudo-card .descricao {
    width: 90%;
  }

  .cards .conteudo-card .icon {
    margin: 15px 10px;
  }

  input:checked + label {
    width: 64%;
  }

  /* Responsividade dos filtros */
  .filtros-titulo {
    margin-bottom: 5px;
  }

  /* Responsividade da seção de funcoes */
  .texto-funcao {
    width: 100%;
  }

  .imagem-funcao {
    display: none;
  }

  input:checked + label .icon {
    display: none !important;
  }
}

@media (max-width: 767px) {
  /* Responsividade do banner/carrosel */
  .container-card {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2%;
  }

  .cards {
    width: 100%;
    height: 80px;
  }

  input:checked + label {
    width: 100%;
    height: 100%;
  }

  .cards .conteudo-card .icon {
    margin: 10px;
    display: none;
  }

  .cards .conteudo-card .descricao {
    width: 100%;
    display: none;
    padding: 0 10px 10px 10px;
  }

  input:checked + label .descricao {
    display: flex !important;
    transform: translateY(0) !important;
  }

  .cards {
    background-size: cover;
    background-position: center;
  }

  .cards[for="c1"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/index/card1.jpg");
  }

  .cards[for="c2"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/index/card2.jpg");
  }

  .cards[for="c3"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/index/card3.jpg");
  }

  .cards[for="c4"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/index/card4.jpg");
  }
}

@media (max-width: 520px) {
  /* Responsividade dos filtros */
  .col-4.filtro {
    width: 100%;
    margin-bottom: 10px;
  }

  .col-4.filtro:last-child {
    margin-bottom: 0px;
  }
}

/* Ativar hover */
@media (min-width: 991px) {
  /* Cards */
  .cards:hover {
    transform: scale(1.02);
    .icon {
      background-color: var(--cor-bg);
      color: var(--cor-branco);
      border-color: var(--cor-branco);
    }

    input:checked + label:hover {
      transform: scale(1);
    }

    .card:hover {
      transform: translateY(-10px);
    }

    .card img:hover {
      filter: opacity(1);
    }

    /* Ver mais */
    .ver-mais:hover {
      color: var(--cor-azul2) !important;
    }
  }

  @media (min-width: 991px) {
    .card:hover {
      transform: translateY(-10px);
    }
  }
}
