html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .8em;
}

/* HEADER */
header {
  background: linear-gradient(to bottom, rgb(18, 18, 18), var(--cor-bg));
  transition: 0.3s ease;
  z-index: 999;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: black !important; /* opcional: para cobrir o conteúdo atrás */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* opcional: só pra visual */
  z-index: 1000;
  transition: 0.3s ease;
}

.fixed:hover {
  opacity: 1;
}

.nav-links a{
  position: relative;
  text-decoration: none;
  color: var(--cor-cinza);
  font-size: var(--font-size-nav-links);
  transition: 0.2s ease;
}

.nav-links ul a:after {
  content: "";
  position: absolute;
  background-color: var(--cor-azul);
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.2s ease;
}

#menu {
  background-image: url("../static/icons/hamburguer.png");
  width: 35px;
  height: 35px;
  background-size: cover;
  transition: all 0.5s ease-in-out; /* Mesmo tempo do setTimeout */
}

#menu.active {
  background-image: url("../static/icons/close.png");
}

/* Nav-bar */
.nav-links a:hover {
  color: var(--cor-azul);
}

.nav-links ul a:hover:after {
  width: 100%;
}

.form-control{
  padding-left: 35px !important;
}

.btn-entrar{
  padding: 7px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul);
  border: 2px solid var(--cor-azul);
  box-sizing: border-box;
  border-radius: 10px;
}

.btn-entrar:hover{
  background-color: transparent;
  color: var(--cor-azul) !important;
  border: 2px solid var(--cor-azul) !important;
}

.btn-entrar i {
  margin-left: 10px;
}

/* Animação para revelar o conteúdo de cima para baixo (Ver mais) */
@keyframes RevelarCards {
  0% {
    opacity: 0;
    clip-path: inset( 0  0 100% 0);
  }

  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

/* Animação para esconder o conteúdo de baixo para cima (Ver menos) */
@keyframes EsconderCards {
  0% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
    clip-path: inset(0 0 100% 0);
  }
}

/* Classes para animação de exibir (Ver mais) */
.card-reveal-img {
  animation: RevelarCards 0.6s ease-in forwards;
 
}
.card-reveal-h5 {
  animation: RevelarCards 0.6s ease-in forwards;

}
.card-reveal-h6 {
  animation: RevelarCards 0.6s ease-in forwards;
 
}

/* Classes para animação de esconder (Ver menos) */
.card-hide-h6 {
  animation: EsconderCards 0.6s ease-in forwards;
}
.card-hide-h5 {
  animation: EsconderCards 0.6s ease-in forwards;
}
.card-hide-img {
  animation: EsconderCards 0.6s ease-in forwards;
}



/* RESPONSIVIDADE */
@media screen and (max-width: 991px) {
  .fixed{
    opacity: 1;
  }

  .nav-links a:hover {
    color: transparent;
  }

  .nav-links ul a:after {
    background-color: transparent;
  }
}