/* VARIÁVEIS */
:root {
  --cor-branco: #ffffff;
  --cor-preto: #000;
  --cor-cinza: #bfbfbf;
  --cor-cinzaTexto: #9d9d9d;
  --cor-cinzaEscuro: #222222 !important;
  --cor-bg: #1e1e1e;
  --cor-bgEscuro: #0f0f0f;
  --cor-azul: #32cccc;
  --cor-verde: #3c9d4c;
}



/* HEADER */
header {
  background: var(--cor-preto) !important;
}

.logo {
  text-align: center;
  width: 100%;
}



/* CONTEUDO */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url('static/img/cadastro-img.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 80%;
  max-width: 500px;
  height: auto;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
}

/* Trocar entre cadastro e entrar */
.cadastro-e-entrar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cadastro-e-entrar .cadastro, .cadastro-e-entrar .entrar {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.cadastro-e-entrar input {
  display: none;
}

.cadastro-e-entrar label {
  color: var(--cor-branco);
  border-radius: 20px 20px 0 0;
  width: 100%;
  padding: 15px 0;
  background-color: var(--cor-bgEscuro);
  font-size: 1.3rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.container input[type="radio"] {
  display: none;
}

/* Alterar a cor do botão ativo */
#b1:checked ~ .cadastro-e-entrar label[for="b1"],
#b2:checked ~ .cadastro-e-entrar label[for="b2"] {
  background-color: var(--cor-bg);
}

.form-cadastro, .form-login {
  display: none;
}

#b1:checked ~ .container-form .form-cadastro {
  display: flex;
  flex-direction: column;
}

#b2:checked ~ .container-form .form-login {
  display: flex;
  flex-direction: column;
}

/* Container do formulário */
.container-form {
  display: flex;
  margin-bottom: 60px;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  background-color: var(--cor-bg);
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gif-container {
  display: none;
  width: 75%;
  border-radius: 20px;
  margin-bottom: 10px;
  justify-content: center;
}

.gif-container img {
  width: 100%;
  border-radius: 20px;
}

.titulo {
  color: var(--cor-branco);
  font-size: 1.8rem;
  margin-top: 40px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 75%;
}

.input-group input {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
}

.esqueceu-senha {
  color: var(--cor-branco);
  text-decoration: none;
  margin-bottom: 40px;
}

/* Termos e condições */
.termos-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  text-align: center;
  gap: 8px;
}

.termos-container p {
  color: var(--cor-branco);
  font-size: 1rem;
  display: inline;
}

.termos-container input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.termos-container a {
  color: var(--cor-cinza);
  text-decoration: none;
  margin: 0 2px;
}

.termos-container a:hover {
  text-decoration: underline;
}

/* Botão de login */
.btn-login {
  padding: 9px 20px;
  background-color: var(--cor-branco);
  color: var(--cor-preto);
  width: 75%;
  border-radius: 10px;
  transition: 0.2s ease;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.ou-container {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: center;
  gap: 	10px;
  margin-bottom: 15px;
}

.ou {
  display: flex;
  color: var(--cor-cinzaTexto);
}

hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid var(--cor-cinzaTexto);
}

.cadastrar-com-google {
  display: flex;
  width: 75%;
  justify-content: center;
  margin-bottom: 20px;
}

.cadastrar-com-google .google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  background-color: var(--cor-branco);
  color: var(--cor-preto);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.cadastrar-com-google .google-button:hover {
  border: 2px solid var(--cor-branco);
  background-color: transparent;
  color: var(--cor-branco);
}

.cadastrar-com-google .google-button img {
  width: 20px;
  height: 20px;
}



/* RESPONSIVIDADE */
@media screen and (max-width: 768px) {
  header {
    display: none;
  }

  main {
    height: auto;
    padding: 0;
    margin: 0;
    align-items: end;
    justify-content: end;
  }

  .container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    align-items: end;
    justify-content: end;
  }

  .gif-container {
    display: flex;
    width: 40%;
    margin-top: 40px;
  }

  .titulo {
    margin-top: 20px;
  }

  .cadastro-e-entrar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
  }
  
  .cadastro-e-entrar label {
    padding: 30px;
  }

  .container-form {
    height: 100%;
    border-radius: 0;
  }

  footer {
    display: none;
  }
}
