/* HEADER */
header {
  background: var(--cor-preto) !important;
}

nav{
  justify-content: center;
}

/* CONTEUDO */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url('static/img/cadastro-img.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 80%;
  max-width: 500px;
  height: auto;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
}

/* Trocar entre cadastro e entrar */
.cadastro-e-entrar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cadastro-e-entrar .cadastro, .cadastro-e-entrar .entrar {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.cadastro-e-entrar input {
  display: none;
}

.cadastro-e-entrar label {
  color: var(--cor-branco);
  border-radius: 20px 20px 0 0;
  width: 100%;
  padding: 15px 0;
  background-color: var(--cor-bgEscuro);
  font-size: 1.3rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.container input[type="radio"] {
  display: none;
}

/* Alterar a cor do botão ativo */
#b1:checked ~ .cadastro-e-entrar label[for="b1"],
#b2:checked ~ .cadastro-e-entrar label[for="b2"] {
  background-color: var(--cor-bg);
}

.form-cadastro, .form-login {
  display: none;
}

#b1:checked ~ .container-form .form-cadastro {
  display: flex;
  flex-direction: column;
}

#b2:checked ~ .container-form .form-login {
  display: flex;
  flex-direction: column;
}

/* Container do formulário */
.container-form {
  display: flex;
  margin-bottom: 60px;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  background-color: var(--cor-bg);
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.gif-container {
  display: none;
  width: 75%;
  border-radius: 20px;
  margin-bottom: 10px;
  justify-content: center;
}

.gif-container img {
  width: 100%;
  border-radius: 20px;
}

.titulo {
  color: var(--cor-branco);
  font-size: 1.8rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  width: 75%;
  margin: 10px 0;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 5px;
  border: 2px solid var(--cor-cinza);
  background: transparent;
  font-size: 1rem;
  color: var(--cor-branco);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input-group label {
  position: absolute;
  top: 0;
  left: 15px;
  transform: translateY(-50%);
  color: var(--cor-branco);
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  background: var(--cor-bg);
  padding: 0 5px;
}

.input-group .eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--cor-cinzaTexto);
  font-size: 1.2rem;
  cursor: pointer;
}

.input-group .eye-icon img {
  width: 25px;
  height: 18px;
}

.esqueceu-senha {
  color: var(--cor-cinzaTexto);
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 40px;
}

.esqueceu-senha:hover {
  text-decoration: underline;
}

/* Termos e condições */
.termos-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  gap: 8px;
}

.termos-container p {
  color: var(--cor-branco);
  font-size: 1rem;
  display: inline;
}

.termos-container input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.termos-container a {
  color: var(--cor-cinza);
  text-decoration: none;
  margin: 0 2px;
}

.termos-container a:hover {
  text-decoration: underline;
}

/* Botão de login */
.btn-cadastro-container {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-cadastro {
  align-items: center;
  padding: 9px 20px;
  background-color: var(--cor-branco);
  color: var(--cor-preto);
  width: 100%;
  border-radius: 10px;
  transition: 0.2s ease;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: center;

}

.btn-cadastro:hover {
  background-color: var(--cor-bg);
  border-color: var(--cor-branco);
  color: var(--cor-branco);
}

/* Ou container */
.ou-container {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: center;
  gap: 	10px;
  margin-bottom: 15px;
}

.ou {
  display: flex;
  color: var(--cor-cinzaTexto);
}

hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid var(--cor-cinzaTexto);
}

/* Cadastrar com Google */
.cadastrar-com-google {
  display: flex;
  width: 75%;
  justify-content: center;
  margin-bottom: 20px;
}

.cadastrar-com-google .google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  background-color: var(--cor-branco);
  color: var(--cor-preto);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.cadastrar-com-google .google-button:hover {
  border: 2px solid var(--cor-branco);
  background-color: transparent;
  color: var(--cor-branco);
}

.cadastrar-com-google .google-button img {
  width: 20px;
  height: 20px;
}



/* RESPONSIVIDADE */
@media screen and (max-width: 768px) {

  main {
    height: auto;
    background-image: none;
    padding: 0;
    margin: 0;
    align-items: end;
    justify-content: end;
  }

  .container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    align-items: end;
    justify-content: end;
  }

  .gif-container {
    display: flex;
    width: 40%;
    margin-top: 40px;
  }

  .titulo {
    margin-top: 20px;
  }

  .cadastro-e-entrar {
    order: 1;
    width: 100%;
    justify-content: center;
  }
  
  .cadastro-e-entrar label {
    padding: 30px;
  }

  .container-form {
    height: 100%;
    border-radius: 0;
  }

  footer {
    display: none;
  }
}
