/* VARIÁVEIS */
:root {
    --cor-branco: #ffffff;
    --cor-preto: #000;
    --cor-cinza: #bfbfbf;
    --cor-cinzaTexto: #9d9d9d;
    --cor-cinzaEscuro: #222222 !important;
    --cor-bg: #1e1e1e;
    --cor-bgEscuro: #0f0f0f;
    --cor-azul: #32cccc;
    --cor-verde: #3c9d4c;
}
  

  
/* HEADER */
header {
    background: var(--cor-preto) !important;
}
  
  
  
/* CONTEUDO */
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

/* INTRODUÇÃO */
.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    background-color: var(--cor-bg);
    color: var(--cor-branco);
    gap: 20px;
    padding: 50px 0px;
}

.introducao h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--cor-azul);
}

.introducao p {
    font-size: 1.5rem;
    text-align: justify;
}

/* FIGURA */
figure{
    width: 100%;
}

figure img{
    width: 100%;
    height: 700px;
    filter: brightness(.5);
    object-fit: cover;
    object-position: center;
    margin: 0;
    transition: .5s ease-in-out;
}

figure img:hover{
    filter: brightness(1);
}

/* FRASE ESPECIAL */
.frase{
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
    background-color: var(--cor-cinzaEscuro);
    color: var(--cor-branco);
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.frase h1{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 3rem;
}

.frase img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin: 0;
    filter: brightness(.5);
    transition: .5s ease-in-out;
}

.frase img:hover{
    filter: brightness(1);
}


/* SOBRE NÓS */
.integrantes__titulo > h1{
    display: block;
    margin-top: 50px;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--cor-azul);
}

.sobre-nos {
    width: 80%;
    padding: 50px 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    height: 100%;
}

.card {
    display: flex;
    position: relative;
    width: 80px;
    height: 500px;
    border-radius: 2rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
}

.card .row {
    color: var(--cor-branco);
    display: flex;
    flex-wrap: nowrap;
    padding: 2px;
}

.card:hover {
    transform: scale(1.02);
    .icon {
        background-color: var(--cor-bg);
        color: var(--cor-branco);
        border-color: var(--cor-branco);
    }
}

.card .row .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    border-radius: 50%;
    border: 2px solid var(--cor-azul);
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
}

.card .row .descricao {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    opacity: 0;
    width: 60%;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    z-index: 1;
    margin-right: 30px;
}

.descricao h4 {
    font-size: 2.5rem;
    padding: 5px;
    text-transform: uppercase;

    color:var(--cor-azul);
}

.descricao p {
    color: var(--cor-branco);
    padding-top: 8px;
    padding-bottom: 15px;
    font-size: 1.4rem;
    text-align: justify;
}

.card .row .image {
    display: flex;
    width: 40%;
    height: 300px;
    border-radius: 50%;

    border: 2px solid var(--cor-branco);
}

.card .row .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0;
}

input {
    display: none;
}

input:checked + label .icon{
    display: none !important;
}

input:checked + label {
    width: 60vw;
}

input:checked + label .descricao {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* FORMULÁRIO DE CONTATO */
.contate-nos{
    width: 80%;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}


.form{
    width: 60%;
    background-color: var(--cor-cinzaEscuro);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--cor-azul);
    text-align: center;
}

.form fieldset {
    padding: 10px;
    border: none;
    width: 100%;
}

.form legend{
    font-size: 1.5rem;
    color: var(--cor-branco);
}

.form input{
    width: 100%;
    height: auto;	
    display: block;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--cor-azul);
    border-radius: 5px;
    color: var(--cor-branco);
    font-size: 1.3rem;
}

.form input::placeholder{
    font-size: 1.3rem;
}

.form textarea{
    width: 100%;	
    display: block;
    background-color: transparent;
    padding: 10px;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid var(--cor-azul);
    border-radius: 5px;
    resize: none;
    color: var(--cor-branco);
    font-size: 1.3rem;
}

.form textarea::placeholder{
    font-size: 1.3rem;
}

.form a{
    color: var(--cor-cinzaEscuro);
    background-color: var(--cor-azul);
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    transition: .5s;
}

.form a:hover{
    border: 2px solid var(--cor-azul);
    background-color: transparent;
    color: var(--cor-azul);
}

@media (max-width: 1080px) {
    .frase{
        flex-direction: column;
    }

    .frase__texto{
        padding: 20px;
    }

    .frase__texto h1{
        font-size: 2.5rem;
    }

    .sobre-nos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .card {
        width: 80%;
        height: 60px;
        margin-bottom: 15px;
        padding: 10px;
        transition: .1s cubic-bezier(.28,-0.03,0,.99) !important;
    }

   

    .card .row .image{
        opacity: 0;
    }

    .card .row{
        min-height: 100%;
        padding: 0;
    }


    .card .row .descricao {
        width: 100%;
        display: none;
        padding: 0 10px 10px 10px;
    }

    input:checked + label {
        width: 80%;
        height: 100%;
    }

    input:checked + label.card {
        height: 100%;
        width: 90%;
        padding: 0;
        transition: .1s cubic-bezier(.28,-0.03,0,.99) !important;
    }

    input:checked + label .row {
        display: flex !important;
        flex-direction: column !important;
        padding: 5px;
    }

    input:checked + label .descricao {
        order: 2 !important;
        display: flex !important;
        padding: 0;
        transform: translateY(0) !important;
    }

    input:checked + label .image {
        opacity: 1 !important;
        order: 1 !important;
        height: 200px !important;
        width: 200px !important;
        margin: 0 auto !important;
        padding: 0 !important;
    }

    
    
    .form {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .filtros {
        display: none;
    }

    .filtros-dropdown {
        display: flex;
    }

    .filtros-dropdown img {
        width: 40px;
    }
}

@media (max-width: 600px) {
    .card-conteudo {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .titulo-filtros {
        flex-direction: column;}
}





