/* BANNER */
.wrapper {
    margin-top: 120px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    position: relative;
    width: 80px;
    border-radius: 2rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
}

.card .row {
    color: white;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.card .row .icon {
    background: var(--cor-branco);
    color: var(--cor-bg);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: 2px solid transparent;
    box-sizing: border-box;
    z-index: 1;
    transition: 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
    .icon {
        background-color: var(--cor-bg);
        color: var(--cor-branco);
        border-color: var(--cor-branco);
    }
}

.card .row .descricao {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    width: 35vw;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    z-index: 1;
}

.descricao h4 {
    font-size: 2.5rem;
    text-transform: uppercase;

    color: #ffffff;
}

.descricao p {
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 15px;
    font-size: 1.4rem;
    text-align: justify;
}

input {
    display: none;
}

input:checked + label {
    width: 60vw;
}

input:checked + label .descricao {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img1.jpg');
}
.card[for="c2"] {
    background-image: url('./img2.jpg');
}
.card[for="c3"] {
    background-image: url('./img3.jpg');
}
.card[for="c4"] {
    background-image: url('./img4.jpg');
}



/* CONTEUDO ROW TITULO */
.conteudo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.titulo-filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    padding: 10px 10px;
}

.titulo-filtros h2 {
    color: var(--cor-branco);
    font-size: 2.5rem;
}

.filtros ul {
    display: flex;
}

.filtros li{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 15px;
    color: var(--cor-branco);
}



/* CONTEUDO BLOCOS */
.blocos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}

.card-conteudo {
    background-color: var(--cor-branco);
    border-radius: 10px;
    color: var(--cor-branco);
    width: 23%; /* 4 cards por linha */
    height: 200px;
    margin-bottom: 60px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.card-conteudo:hover {
    transform: translateY(-10px);
}

@media (max-width: 1200px) {
    .card-conteudo {
        width: 23%;
    }
}

@media (max-width: 992px) {
    .card-conteudo {
        width: 48%;
    }
}

@media (max-width: 600px) {
    .card-conteudo {
        width: 100%;
    }
}



