/* VARIAVEIS */
:root {
  --cor-branco: #ffffff;
  --cor-preto: #000;
  --cor-cinza: #bfbfbf;
  --cor-cinzaEscuro: #4c4c4c;
  --cor-bg: #1e1e1e;

  /* Font-size */
  --font-size-nav-links: 1.1rem;
  --font-size-logo: 1.5rem;
  --font-size-footer-links: 1.2rem;

  --font-size-small: 1rem;
  --font-size-smallest: 0.9rem;
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ESTILOS GERAIS */
a {
  text-decoration: none;
  color: black;
}

body {
  background-color: var(--cor-bg);
}

/* HEADER */
header {
  display: flex;
  width: 100%;
  padding: 0 10%;
  height: 103px;
  background: linear-gradient(to bottom, rgb(18, 18, 18), var(--cor-bg));
  transition: 0.3s ease;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  transition: 0.3s ease;
}

.logo a {
  font-size: var(--font-size-logo);
  font-weight: bold;
  color: var(--cor-branco);
  transition: .5s ease;
}

.logo a:hover {
  color: var(--cor-cinza);
}

.nav-links {
  order: 1;
}

.nav > a {
  order: 2;
}

.nav-links,
.nav-links ul,
.nav-links ul li {
  display: flex;
  align-items: center;
}


.nav-links ul {
  gap: 15px;
  margin-right: 10px;
}

.pesquisa {
  display: flex;
  width: 100%;
  padding: 8px 12px;
  border: 2px solid var(--cor-cinza);
  background-color: transparent;
  border-radius: 20px;
  font-size: var(--font-size-small);
  transition: 0.3s ease;
  padding-left: 35px;
  background-image: url("static/icons/search.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 10px;
  color: var(--cor-cinza);
}

.pesquisa::placeholder {
  color: var(--cor-cinza);
}

.nav-links a,
.footer-links a {
  position: relative;
  text-decoration: none;
  color: var(--cor-cinza);
  font-size: var(--font-size-nav-links);
  transition: 0.2s ease;
}

.nav-links a:hover {
  color: var(--cor-branco);
}

.nav-links ul a:after,
.footer-links ul a:after {
  content: "";
  position: absolute;
  background-color: var(--cor-branco);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.2s ease;
}

.nav-links ul a:hover:after,
.footer-links ul a:hover:after {
  width: 100%;
}

.btn-login {
  display: flex;
  padding: 9px 20px;
  margin-left: 15px;
  background-color: var(--cor-branco) !important;
  color: var(--cor-preto) !important;
  border-radius: 10px;
  transition: 0.2s ease;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.btn-login::after{
  height: 0px !important;
}

.btn-login:hover {
  background-color: var(--cor-bg) !important;
  border-color: var(--cor-branco) !important;
  color: var(--cor-branco) !important;
}

/* MENU HAMBURGUER */
.menu {
  display: none;
  max-width: fit-content;
  cursor: pointer;
}

/* Oculta o input checkbox (usado para controlar o menu) */
#menu-toggle {
  display: none;
}

/* Estilos para o ícone do menu (hamburger) */
.menu .hamburger {
  min-width: 40px;
  min-height: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu .hamburger span {
  display: block;
  height: 4px;
  background: var(--cor-branco);
  transition: 0.3s ease;
  transform-origin: center;
}

#menu-toggle:checked + label.menu .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 9px);
}

#menu-toggle:checked + label.menu .hamburger span:nth-child(2) {
  opacity: 0;
  display: none;
}

#menu-toggle:checked + label.menu .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -9px);
}

/* FOOTER */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--cor-preto);
  color: var(--cor-branco);
  padding: 25px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-logo a img {
  width: 120px;
  height: auto;
}

.footer-links ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.footer-links li {
  margin-left: 20px;
}

.footer-links a {
  color: var(--cor-branco);
  font-size: var(--font-size-footer-links);
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--cor-branco);
}

.footer-rights {
  text-align: start;
  margin-top: 20px;
  width: 100%;
  color: var(--cor-branco);
  font-size: 0.9rem;
}

/* RESPONSIVIDADE */
@media (max-width: 1024px) {
  header{
      padding: 10px 10%;
      height: auto;
  }

  .nav {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .nav > a {
    order: 1;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* Oculta os links de navegação e o botão de login por padrão */
  .nav-links{
    justify-content: flex-end;
    width: 100%;
  }

  .nav-links ul {
    display: none;
  }

  .nav-links ul li{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links .btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links ul li a{
    width: 100%;
    
    margin: 0 !important; 
    display: flex;
    justify-content: center;
  }

  /* Exibe o ícone do menu */
  .menu {
    display: flex;
    cursor: pointer;
  }

  .hamburger {
    cursor: pointer;
    z-index: 20;
  }

  /* Quando o checkbox estiver marcado, exibe o menu */
  #menu-toggle:checked ~ ul {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-bg);
    position: absolute;
    z-index: 20;
    top: 75px;
    left: 0;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    list-style-type: none;
  }
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-links ul {
    margin-top: 20px;
    justify-content: center;
  }

  .footer-links li {
    margin: 0 10px;
  }

  .footer-rights {
    text-align: center;
  }
}


