/* HEADER */
header {
  background: var(--cor-preto) !important;
}

nav{
  justify-content: center;
}


/* CONTEUDO */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url('../static/img/cadastro/cadastro-img.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-container {
  display: flex;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 80%;
  max-width: 500px;
  height: auto;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
}

.auth-toggle-btn {
  transition: background-color 0.3s ease;
}

/* Formulário */
.container-input input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  line-height: normal;
  border: 2px solid var(--cor-cinza);
  background: transparent !important;
  font-size: 1rem;
  color: var(--cor-branco);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.container-input input::placeholder {
  color: var(--cor-branco);
  opacity: 0.7;
}

.invalid-input{
  border-color: var(--bs-form-invalid-color) !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25) !important;
}

.container-input label {
  position: absolute !important;
  top: 0;
  left: 15px;
  transform: translateY(-50%);
  color: var(--cor-branco);
  transition: 0.3s ease-in-out;
  pointer-events: none;
  background: var(--cor-bg);
  padding: 0 5px;
}

.container-input .eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  background: transparent;
  z-index: 2;
}

.container-input .eye-icon {
  display: flex;
  color: white;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
}

.container-input .eye-icon img {
  width: 25px;
  height: 25px;
}

/* Termos e condições */
.termos-input  {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* Botão de login */
.btn-entrar {
  transition: 0.2s ease;
  box-sizing: border-box;
  background-color: var(--cor-azul) !important;
  border: 2px solid var(--cor-azul) !important;
  color: var(--cor-branco) !important;
}

.btn-entrar:hover {
  background-color: transparent !important;
  border: 2px solid var(--cor-azul) !important;
  color: var(--cor-azul) !important;
}

.btn-primary {
  transition: 0.2s ease;
  box-sizing: border-box;
  border: 2px solid var(--cor-branco);
}

.btn-disabled:disabled{
  border: 2px solid var(--cor-branco) !important;;
  background-color: transparent !important;;
  color: var(--cor-branco) !important;
  cursor: not-allowed !important;
}

.btn-primary img {
  width: 20px;
  height: 20px;
}
.auth-toggle-btn{
  background-color: var(--cor-bg);
}

.auth-toggle-btn:last-child{
  background-color: var(--cor-bgEscuro);
}
.form-cadastro{
  display: flex;
}

.form-login{
  display: none;
}

.modal-body {
  max-height: 76vh;
  overflow-y: auto;
}

.eye-icon img {
  color: white;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 768px) {
  /* Responsividade da main */
  main {
    height: auto;
    background-image: none;
    padding: 0;
    margin: 0;
    align-items: end;
    justify-content: end;
  }

  .auth-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    align-items: end;
    justify-content: end;
  }
}

/* Ativar hover */
@media screen and (min-width: 991px) {

  /* Formulário */
  .container-input button:hover .eye-icon {
    opacity: 0.8;
  }
  
  /* Decoração de link */
  .link:hover {
    text-decoration: underline;
  }

  /* Botão de login */
  .btn-primary:hover {
    border: 2px solid var(--cor-branco);
    background-color: transparent;
    color: var(--cor-branco);
  }
}