.nav-links li:nth-child(3) a {
  color: var(--cor-azul);
}

header {
  background: var(--cor-preto);
}

.jogo {
    min-height: 75dvh;
    position: relative;
}

.game-image {
    display: flex;
}

.disabled{
  border: 2px solid var(-cor-cinzaTexto) !important;
  color: var(-cor-cinzaTexto) !important;
}

.disabled:hover{
  border: 2px solid var(-cor-cinzaTexto) !important;
  color: var(-cor-cinzaTexto) !important;
}


.btn-voltar {
    padding: 7px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-azul);
    border: 2px solid var(--cor-azul);
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .btn-voltar:hover {
    background-color: transparent;
    color: var(--cor-azul) !important;
    border: 2px solid var(--cor-azul) !important;
  }
  
  .btn-voltar i {
    margin-right: 10px;
  }

.video-jogo{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-jogo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
  z-index: -1;
}

.video-jogo .gradient{
  background-image: linear-gradient(to right, #000000, #000000c4,  rgba(0, 0, 0, 0.301));
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
}

.card{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card:hover{
  transform: scale(1);
}

/* CONTAINER FILTROS */
.list-style-none {
  list-style: none;
}

.cursor-pointer {
  list-style: none;
  cursor: pointer;
}

#campeonatos-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth; /* Para suavidade no scroll */
}

@media (max-width: 991px) {
  /* Responsividade dos filtros */
  .filtros-titulo {
    margin-bottom: 5px;
  }
  
}

@media (max-width: 520px) {
  /* Responsividade dos filtros */
  .col-4.filtro {
    width: 100%;
    margin-bottom: 10px;
  }

  .col-4.filtro:last-child {
    margin-bottom: 0px;
  }
}