/* HEADER */
.nav-links li:nth-child(2) a {
  color: var(--cor-azul);
}

/* BANNER */


/* CONTAINER FILTROS */
.list-style-none {
  list-style: none;
}

.cursor-pointer {
  list-style: none;
  cursor: pointer;
}

/* CARDS DOS JOGOS */
.card {
  padding: 0;
  border: none !important;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.gif-container {
  position: relative;
  width: 100%;
  height: 200px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.static-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.gif-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(30, 30, 30, 0.9) 0%,
    rgba(50, 50, 50, 0.5) 50%,
    rgba(68, 68, 68, 0) 100%
  );
  border-radius: 10px;
  pointer-events: none;
}

.card:hover .static-image {
  opacity: 0;
}

.card:hover .gif-container {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  transition: 0.2s ease-in-out;
}

/* Ver mais */
.ver-mais,
.ver-menos {
  color: var(--cor-azul) !important;
  transition: 0.2s ease-in-out;
}

.ver-mais:hover,
.ver-menos:hover {
  color: var(--cor-azul-bg) !important;
}

/* LISTA DE FUNÇÕES */
.lista-funcoes-bg {
  display: flex;
  background-image: linear-gradient(to right, var(--cor-azul-bg), rgba(0, 0, 0, 0.9)),
    url("../static/img/index/haven1.jpg");
  background-size: cover;
  background-position: bottom;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.texto-funcao ul {
  list-style: none;
  padding-left: 0;
}

.texto-funcao li {
  position: relative;
  padding-left: 35px;
}

.texto-funcao li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url("../static/icons/icon-check-48px.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.tracinho {
  height: 0.3rem;
  width: 120px;
  background-color: var(--cor-azul);
}

/* RESPONSIVIDADE */
@media (max-width: 1399px) {
  .cards {
    min-width: 7%;
  }
}

@media (max-width: 1199px) {
  .cards {
    min-width: 8%;
  }

  .cards .conteudo-card .icon {
    margin: 15px 10px;
  }
}

@media (max-width: 991px) {

   /* Responsividade do banner/carrossel */
  .container-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2%;
  }

  .cards {
    min-width: 100%;
    height: 100px;
  }

  .cards .conteudo-card .descricao {
    width: 90%;
  }

  .cards .conteudo-card .icon {
    margin: 15px 10px;
  }

  input[name="card"]:checked + .cards {
    width: 100% !important;
    height: 100% !important;
  }
}



@media (max-width: 991px) {
  /* Responsividade do banner/carrossel */
  .container-card {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2%;
  }

  .cards {
    width: 100%;
    height: 80px;
  }

  input[name="card"]:checked + .cards {
    width: 100% !important;
    height: 100%;
  }

  .cards .conteudo-card .icon {
    margin: 10px;
    display: none;
  }

  .cards .conteudo-card .descricao {
    width: 100%;
    display: none;
    padding: 0 10px 10px 10px;
  }

  input[name="card"]:checked + .cards .descricao {
    display: flex !important;
    transform: translateY(0) !important;
  }

  .cards {
    background-size: cover;
    background-position: center;
  }

  .cards[for="c1"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/index/card1.jpg");
  }

  .cards[for="c2"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/index/card2.jpg");
  }

  .cards[for="c3"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/index/card3.jpg");
  }

  .cards[for="c4"] {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0) 60%
      ),
      url("../static/img/index/card4.jpg");
  }
}

@media (max-width: 520px) {
  /* Responsividade dos filtros */
  .col-4.filtro {
    width: 100%;
    margin-bottom: 10px;
  }

  .col-4.filtro:last-child {
    margin-bottom: 0px;
  }
}

/* Ativar hover */
@media (min-width: 991px) {
  /* Cards */
  .cards:hover {
    .icon {
      background-color: var(--cor-bg);
      color: var(--cor-branco);
      border-color: var(--cor-branco);
    }
  }

  .card-width:hover {
    transform: scale(1);
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .card img:hover {
    filter: opacity(1);
  }

  /* Ver mais */
  .ver-mais:hover {
    color: var(--cor-azul2) !important;
  }
}

