.selected {
 border: 2px solid var(--cor-azul);
  padding: 5px;
  width: 80px;
  height: 80px;
}

.avatar:hover{
    transform: scale(1.1);
}

.avatar-container {
  max-height: 300px;         /* 🔹 altura máxima antes de ativar o scroll */
  overflow-y: auto;          /* 🔹 ativa rolagem vertical */
  overflow-x: hidden;        /* 🔹 evita rolagem horizontal */
  padding: 10px;
  scroll-behavior: smooth;   /* 🔹 rolagem suave */
}

/* Opcional: estilizar a barra de rolagem (funciona em navegadores baseados em WebKit) */
.avatar-container::-webkit-scrollbar {
  width: 8px;
}

.avatar-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.avatar-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media (max-width: 845px) {
  .modal-avatar{
    max-width: 90% !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }
}